@{
    ViewData["Title"] = "Home Page";
}
<body style="background-image: url(../Images/eedf4679a43b9b6e6aa22686bffec540b37d61ce.jpg); background-repeat: no-repeat; background-position: right top; ">
    <div class="text-center">
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        <h1 class="display-4">Welcome</h1>
        </br>
        </br>
        </br>
        <p>更多欢迎访问 <a href="http://www.wumingweb.com/" target="_blank">原网站 </a>.</p>
    </div>
</body>
@*<img src="~/Images/11bea838b8764fde9dc23c24364dac48bd439eb3.jpg" />*@
   





